body{
    display: flex;
    flex-direction: column;
}

.container{
    display: flex;
    gap: 10px;
}
.sidebar{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    height: 1000vh;
    left: 0;
    width: min(6rem,15vh);
    gap: 3vh;
    background-color: rgba(8, 8, 8, 0.87);
    padding-top: 4vh;
}
.side{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 5rem;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    font-size: 0.8rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}
.side:hover{
    background-color: rgba(127, 255, 212, 0.658);
}
.content{
    height: 100vh;
    width: 85vw;
    padding-left: 6rem;
}