:root{
    --font : 1rem;
    --row : minmax(100px,1rem);
    --column : minmax(150px,0.17fr);
}

body{
    display: flex;
    flex-direction: column;
    background-color: rgba(24, 26, 23, 0.788);
}

.container{
    display: flex;
    gap: 10px;
}
.sidebar{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    height: 100vh;
    left: 0;
    width: min(6rem,15vh);
    gap: 3vh;
    background-color: rgba(8, 8, 8, 0.788);
    padding-top: 4vh;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
.side{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 5rem;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    font-size: 0.8rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    background-color: rgba(36, 36, 35, 0.808);
    color: aliceblue;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
.side:hover{
    background-color: rgba(127, 255, 212, 0.733);
    color: black;
}
.content{
    height: 100vh;
    width: 85vw;
    padding-left: 7rem;
    padding-top: 3rem;
    display:grid;
    grid-template-rows: repeat(auto-fit,var(--row));
    grid-template-columns: repeat(auto-fit,var(--column));
    grid-auto-rows: var(--row);
    grid-auto-columns: var(--column);
    overflow: auto;
    gap: 2rem;
}
